* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: hsl(211, 62%, 90%);
    color: hsl(217, 19%, 35%);
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    
}

.container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 300px;
    height: 510px;
    margin: 150px auto;

}

img.card1 {
    width: 300px;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 2px 2px 4px 0 hsl(217, 19%, 35%);
}

.card2 {
    width: 300px;
    height: 250px;
    margin-top:-10px;
    background-color:hsl(210, 46%, 95%);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 4px 0px hsl(217, 19%, 35%);
    
}

.card2 .post {
    padding: 20px;
    text-align:left;
    
}

.card2 .post .header {
    font-weight: 700;
}

.card2 .post .content {
    margin-top: 10px;
    font-weight: 500;
}

.footer {
    display: flex;
    width: 300px;
    height: 70px;
    background-color: hsl(210, 46%, 95%);
    border-radius: 0px 0px 10px 10px;
    margin-top: 7px;
}

.tootlip {
    display: flex;
    width: 300px;
    height: 70px;
    visibility: hidden;
    position: absolute;
    margin-top:3px;
    border-radius: 0px 0px 10px 10px;
    background-color: hsl(217, 19%, 35%);
}

.tootlip .share {
    padding: 10px;
    height: 60px;
    width: 80px;
    text-align: center;
    color: hsl(212, 23%, 69%);
    
    margin-top: 7px;
}

.tootlip .share p {
    margin: 10px auto;
}

.social-sites-icons {
    padding: 8px ;
    width: 150px;
    height: 60px;
    margin-top: 7px;
    
}

.social-sites-icons i {
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
    margin: 13px 9px;
}


#share-icon2 {
    padding: 5px;
    align-items: center;
    width: 50px;
    align-items: center;
    border: none;
    background-color: transparent;
    outline: none;
    
}

#share-icon2 i {
    background-color: hsl(211, 62%, 90%);
    color: hsl(217, 19%, 35%);
    border-radius: 50%;
    padding: 6px;
    font-size: 20px;
    align-items: center;
    margin-top: 5px;
}


.dp {
    padding: 10px;
    height: 60px;
    width: 80px;
    align-items: center;
}

.dp img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 5px;
}

.avatar-profile {
    padding: 8px 0px;
    width: 150px;
    height: 60px;
    text-align: left;
    white-space: nowrap;
    
}

.name {
    font-weight: 700;
    }
.date {
    font-weight: 500;
    margin-top: 5px;
}

#share-icon {
    padding: 5px;
    align-items: center;
    width: 50px;
    align-items: center;
    border: none;
    background-color: transparent;
    outline: none;
    
}

#share-icon  i {
    background-color: hsl(211, 62%, 90%);
    color: hsl(217, 19%, 35%);
    border-radius: 50%;
    padding: 6px;
    font-size: 20px;
    align-items: center;
    margin-top: 5px;
}

@media only screen and (min-width:600px){
    .container{
        flex-direction: row;
        width: 700px;
        height: 300px;
        align-items: center;
    }

    img.card1 {
        border-radius: 10px 0 0 10px;
        height: 251px;
        box-shadow: 0px;
    }
    .card2{
        margin-top: 2px;
        border-radius: 0px 10px 10px 0px;
        width: 380px;
        box-shadow: 0px;
        
    }
    .footer {
        width: 380px;
        margin-top: 20px;
        
    }
    #share-icon {
        margin-left: 60px;
        position: relative;
    }


    #share-icon2 {
     visibility: hidden; 
     width: 0px;       
    }

    .tootlip {
        /* visibility: visible; */
        width: 200px;
        height: 40px;
        position: relative;
        border-radius:10px;
        background-color: hsl(217, 19%, 35%);
        z-index: 1;
        margin-top: -40px;
        margin-left: -33%;
        box-shadow: 0 5px 15px 0 hsl(217, 19%, 35%);
    }
    .tootlip::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        border-color: hsl(217, 19%, 35%) transparent transparent transparent;
        border-style: solid;
        border-width: 10px;

    }

    .tootlip .share {
        padding: 3px;
        
        width: 80px;
    
        
        margin-top: 7px;
    }
    
    .tootlip .share p {
        margin: auto;
    }

    #share-icon:hover .tootlip {
        visibility: visible;
    }
    
    .social-sites-icons {
        padding: 8px ;
        width: auto;
        height: auto;
        margin-top: 2px;
        
    }

    .social-sites-icons i {
        font-size: 15px;
        /* margin-left: 3px; */
        color: #fff;
        margin: 3px;
    }

   
    
    .card2 .post {
        padding: 20px;
        text-align:left;
        
        width: 350px;
    }

  
}